/* Contenedor de Tabs */
ion-tab-bar {
  --background: #000000;
  border-top: 3px solid #a50909 !important;

  --color: #999999;           // color tabs NO seleccionados
  --color-selected: #aa1414;  // 🔴 color seleccionado
}